.main-skills-container .skills-container{
    display: grid;
    justify-content: center;
    margin: 160px auto;
    position: relative;
}

.main-skills-container .first-shade{
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: radial-gradient(rgba(80,97,197, 0.7), transparent 70%);
    border-radius: 50%;
}

.main-skills-container .second-shade {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-image: radial-gradient(rgba(80, 97, 197, 0.7), transparent 70%);
    border-radius: 50%;
}

.main-skills-container .third-shade {
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: radial-gradient(rgba(80, 97, 197, 0.7), transparent 70%);
    border-radius: 50%;
}

.skills-container .skills-header{
    font-size: 60px;
    font-weight: 700;
    margin: 30px auto;
    text-align: center;
    color: rgba(0,0,0,0.75);
}
.skills-container .skills-content{
    margin: 40px auto;
}
.skills-container .skills-content .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 100px;
    width: 60vw;
}
.skills-container
.skills-content
.cards-container
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(184, 168, 168, 0.1);
    backdrop-filter: blur(7.3px);
    border-radius: 20px;
    padding: 0px 0px 10px 0px;
}
.skills-container
.skills-content
.cards-container
.card-header{
    height: 100px;
}
.skills-container
.skills-content
.cards-container
.card-header img{
    margin: 0 auto;
    padding: 16px;
    height: 100px;
}
.skills-container
.skills-content
.cards-container
.card-content{
    text-align: center;
}
.skills-container
.skills-content
.cards-container
.card-content h1{
    color: rgba(0,0,0,0.75);
    font-size: 22px;
    font-weight: 700;
}
.skills-container
.skills-content
.cards-container
.card-content
h3{
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1100px){
    .skills-container .skills-content .cards-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100vw;
        padding: 0px 20px;
    }
    .skills-container .skills-header {
        font-size: 30px;
    }
}