.main-skills-container .skills-container{
    display: grid;
    justify-content: center;
    margin: 160px auto;
}
.skills-container .skills-header{
    font-size: 60px;
    font-weight: 700;
    margin: 30px auto;
    text-align: center;
    color: rgba(0,0,0,0.75);
}
.skills-container .skills-content{
    margin: 40px auto;
}
.skills-container .skills-content .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 100px;
    width: 60vw;
}
.skills-container
.skills-content
.cards-container
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skills-container
.skills-content
.cards-container
.card-header{
    height: 100px;
}
.skills-container
.skills-content
.cards-container
.card-header img{
    margin: 0 auto;
    padding: 16px;
    height: 100px;
}
.skills-container
.skills-content
.cards-container
.card-content{
    text-align: center;
}
.skills-container
.skills-content
.cards-container
.card-content h1{
    color: rgba(0,0,0,0.75);
    font-size: 22px;
    font-weight: 700;
}
.skills-container
.skills-content
.cards-container
.card-content
h3{
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}