.main-subhero-container{
    height: 60vh;
    min-height: 500px;
}
.main-subhero-container .subhero-container{
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0px 100px;
}
.subhero-container .left-container{
    height: 100%;
    display: grid;
    justify-content: center;
    color: rgba(0,0,0,0.75);
    padding-right: 50px;
}
.subhero-container .right-container{
    height: 100%;
    width: 100%;
}
.subhero-container .right-container .subhero-image{
    height: 100%;
    width: 100%;
}
.subhero-container .left-container h1{
    font-size: 60px;
    font-weight: 700;
}

.subhero-container .subhero-image video{
    z-index: 500;
    box-shadow: 20px -20px 0px #F3D408;
    min-width: 600px;
}

.subhero-content span{
    color: #5061C5;
}

@media (max-width: 1400px){
    .main-subhero-container .subhero-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 60px;
        margin: 0px auto;
        padding: 0px 20px;
    }

    .subhero-container .right-container .subhero-image{
        display: grid;
        justify-content: center;
        padding: 0px 20px;
    }
    .subhero-container .left-container{
        text-align: center;
        padding-right: 0px;
    }
    .subhero-container .subhero-image video{
        min-width: 0px;
    }
}

@media (max-width: 900px){
    .subhero-container .left-container h1{
        font-size: 40px;
    }
    .main-subhero-container .subhero-container{
        row-gap: 80px;
    }
}